<%- include('../partials/user-header.ejs') %>
  

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('/Public/user/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Products<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">product</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<div class="row" style="justify-content: center;">  
                        <!-- remember style  -->
                        
                        <!-- here filter code want to add -->



                		<div class="col-lg-9">
                			<div class="toolbox">
                				

                				<div class="toolbox-right">
                					
                					<div class="toolbox-layout">
                					


                						<a href="category.html" class="btn-layout active">
                							<svg width="16" height="10">
                								<rect x="0" y="0" width="4" height="4" />
                								<rect x="6" y="0" width="4" height="4" />
                								<rect x="12" y="0" width="4" height="4" />
                								<rect x="0" y="6" width="4" height="4" />
                								<rect x="6" y="6" width="4" height="4" />
                								<rect x="12" y="6" width="4" height="4" />
                							</svg>
                						</a>

                					</div><!-- End .toolbox-layout -->
                				</div><!-- End .toolbox-right -->
                			</div><!-- End .toolbox -->
                            <div class="products ">
                                <div class="row justify-content-center">
                                    <% productList.forEach((data)=>{ %>
                                    <div class="col-6 col-md-4 col-lg-3">
                                        <div class="product product-7 text-center">
                                            <figure class="product-media">
                                                <!-- <span class="product-label label-new">New</span> -->
                                                <a href="/product-details?id=<%=data._id%>">
                                                    <img src="/Public/admin/product/<%=data.image[0]%>" alt="Product image" class="product-image">
                                                </a>

                                                <div class="product-action-vertical">
													<button onclick="addToWishlist('<%=data._id%>')" style="border: none;" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></button>

                                                   
                                                </div><!-- End .product-action-vertical -->

                                                <div class="product-action">
													<button class="btn-product btn-cart" style="border: none;" onclick="add_to_cart('<%=data._id%>')"> <span>add to cart</span></button>
                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat">
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="/product-details?id=<%=data._id%>"><%=data.name%></a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    $<%=data.price%>
                                                </div><!-- End .product-price -->
                                               
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-lg-4 -->
                                    <% }) %>
								</div><!-- End .row -->
                            </div><!-- End .products -->
                		</div><!-- End .col-lg-9 -->
                
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
		<script src="/Public/user/js/script.js"></script>
        <%-include('../partials/user-footer.ejs') %>
